    html {
        box-sizing: border-box;
        background-color: #e5e5e5;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    a {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }

    img {
        max-width: 100%;
    }

     :root {
        --color-orange: #e1670e;
        --color-white: #ffffff;
        --color-graphite: #666666;
        --color-yellow: #ff9900;
        --color-black: #333333;
        --color-gray: #cacaca;
    }

    body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        background-color: var(--color-white);
    }
    /* global */

    .list-reset {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .btn-reset {
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .main {
        margin: 0 75px;
    }

    .main__section {
        margin-bottom: 100px;
        max-width: 1920px;
    }

    .flex {
        display: flex;
    }
    /* header */

    .header {
        height: 100px;
        background-color: var(--color-white);
        padding: 0 75px;
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
        box-shadow: 0 5px 40px rgba(0, 0, 0, .1);
        position: relative;
        z-index: 6;
    }

    .header__container {
        justify-content: space-between;
        align-items: center;
        max-width: 1770px;
        height: 100px;
        margin: 0 auto;
    }

    .header__logo__link {
        width: 224px;
        height: 72px;
    }

    .header__logo__link:focus {
        outline: 2px solid var(--color-yellow);
    }

    .header__nav {
        justify-content: space-between;
        align-items: center;
        width: 817px;
    }

    .header__nav__list {
        justify-content: space-between;
        align-items: center;
        width: 708px;
        height: 22px;
        margin-right: 85px;
    }

    .header__nav__icon__svg rect {
        transition: .3s linear;
    }

    .header__nav__icon__svg path {
        transition: .3s linear;
    }

    .header__nav__icon__svg:hover rect {
        fill: var(--color-yellow);
    }

    .header__nav__icon__svg:hover path {
        stroke: var(--color-yellow);
    }

    .header__icon__link:focus svg {
        outline: 2px solid var(--color-yellow);
    }

    .header__icon__link:focus {
        outline: none;
    }

    .header__nav__icon__svg:active rect {
        fill: var(--color-yellow);
    }

    .header__nav__icon__svg:active path {
        stroke: var(--color-yellow);
    }

    .header__nav__link {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: var(--color-black);
        transition: color .3s linear;
    }

    .header__nav__link:hover {
        border-bottom: 2px solid var(--color-yellow);
    }

    .header__nav__link:focus {
        outline: 2px solid var(--color-yellow);
    }

    .header__nav__link:active {
        border-bottom: 2px solid var(--color-orange);
        color: var(--color-orange);
        outline: transparent;
    }

    .popup {
        position: fixed;
        max-width: 320px;
        right: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease 0s;
        z-index: 1100;
    }

    .popup:target {
        opacity: 1;
        visibility: visible;
    }

    .popup__body {
        max-width: 320px;
        min-height: 69px;
        align-items: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, .12);
    }

    .popup__content {
        background-color: var(--color-white);
        max-width: 320px;
        padding: 20px 80px 30px 15px;
        position: relative;
    }

    .popup__form {
        border-bottom: 1px solid var(--color-gray);
        max-width: 222px;
    }

    .popup__form__text {
        display: block;
        border: none;
        max-width: 222px;
        color: #adadad rgba(173, 173, 173, 1);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .popup__close {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .popup__sending {
        position: absolute;
        right: 60px;
        top: 20px;
    }

    .popup__form__text:focus {
        outline: 2px solid var(--color-yellow);
    }

    .popup__sending:focus {
        outline: 2px solid var(--color-yellow);
    }

    .popup__close:focus {
        outline: 2px solid var(--color-yellow);
    }
    /*hero*/

    .main {
        position: relative;
        margin: 0 auto;
        max-width: 1770px;
    }

    .main__hero {
        position: relative;
        min-height: 620px;
        padding: 100px 853px 100px 80px;
    }

    .main__container__subject {
        position: relative;
        z-index: 5;
    }

    .swiper {
        position: absolute !important;
        left: 0;
        top: 0;
        width: 100%;
    }

    .swiper-slide-balconies {
        background-image: url(../img/hero-balconies.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1770px;
        min-height: 620px;
        height: 100%;
    }

    .swiper-slide-vitrajy {
        background-image: url(../img/hero-vitrajy.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1770px;
        min-height: 620px;
        height: 100%;
    }

    .swiper-slide-high {
        background-image: url(../img/hero-high.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1770px;
        min-height: 620px;
        height: 100%;
    }

    .swiper-pagination {
        max-width: 1770px;
        min-height: 15px;
    }

    .swiper-pagination .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        background-color: rgba(255, 255, 255, 0.4);
    }

    .swiper-pagination-bullet {
        margin: 0 !important;
    }

    .swiper-pagination-bullet:not(:last-child) {
        margin-right: 20px !important;
    }

    .swiper-pagination .swiper-pagination-bullet:focus {
        background-color: var(--color-white);
        outline: none;
    }

    .swiper-pagination .swiper-pagination-bullet:active {
        background-color: var(--color-white);
    }

    .swiper-pagination .swiper-pagination-bullet:hover {
        background-color: var(--color-white);
    }

    .main__title {
        margin: 0;
        min-width: 790px;
        font-style: normal;
        font-weight: 800;
        font-size: 70px;
        line-height: 85px;
        margin-bottom: 24px;
        color: var(--color-white);
    }

    .main__desc {
        margin: 0;
        min-width: 790px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: var(--color-white);
        margin-bottom: 90px;
    }

    .main__btn {
        max-width: 280px;
        min-height: 78px;
        padding: 18.571px 37.1419px;
        background: var(--color-yellow);
        font-style: normal;
        font-weight: bold;
        font-size: 23.4581px;
        line-height: 29px;
        text-align: center;
        color: var(--color-white);
        transition: .3s ease;
    }

    .main__btn:hover {
        background: rgba(255, 153, 0, .7);
    }

    .main__btn:focus {
        background: rgba(255, 153, 0, .7);
        outline: none;
    }

    .main__btn:active {
        background: var(--color-orange);
    }
    /*about*/

    .main__about,
    .main__container__page {
        min-height: 943px;
    }

    .main__subtitle {
        margin: 0;
        width: 141px;
        height: 59px;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 59px;
        color: var(--color-black);
        margin-bottom: 20px;
    }

    .main__text {
        margin: 0;
        max-width: 1235px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: var(--color-black);
        margin-bottom: 50px;
    }

    .main__container__about {
        justify-content: space-between;
        max-width: 1770px;
        min-height: 622px;
    }

    .main__container__box {
        min-height: 622px;
        position: relative;
        padding: 476px 50px 50px 50px;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, .31) 100%), url(../img/about-picture.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        justify-content: space-between;
        align-items: center;
        margin-right: 32px;
        width: 100%;
        object-fit: cover;
    }

    .main__container__box::after {
        content: '';
        width: 100%;
        min-height: 196px;
        background: rgba(0, 0, 0, .5);
        position: absolute;
        left: 0;
        bottom: 0;
        object-fit: cover;
    }

    .main__container__box__text {
        margin: 0;
        max-width: 454px;
        min-height: 96px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        color: var(--color-white);
        z-index: calc(1);
        object-fit: cover;
    }

    .main__container__box__btn {
        padding: 19px 38px;
        width: 175px;
        height: 60px;
        border: 3px solid var(--color-yellow);
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: var(--color-white);
        z-index: calc(1);
        transition: .3s ease;
    }

    .main__container__box__btn:hover {
        background: var(--color-yellow);
    }

    .main__container__box__btn:focus {
        background: var(--color-yellow);
        outline: none;
    }

    .main__container__box__btn:active {
        background: var(--color-orange);
        border: var(--color-orange);
    }

    .main__container__aside {
        flex-direction: column;
        width: 100%;
        min-height: 622px;
        justify-content: space-between;
        object-fit: cover;
    }

    .main__aside {
        border: 1px solid var(--color-gray);
        padding: 65px 0 65px 60px;
        min-height: 295px;
    }

    .main__aside__img {
        margin-right: 50px;
        max-width: 20%;
    }

    .main__aside__box {
        max-width: 452px;
        min-height: 165px;
    }

    .main__aside__text {
        margin: 0;
        max-width: 80%;
        height: 128px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: var(--color-black);
    }

    .main__aside__subtitle__top {
        margin: 0;
        max-width: 452px;
        min-height: 29px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: var(--color-black);
        margin-bottom: 8px;
    }

    .main__aside__subtitle__bottom {
        margin: 0;
        max-width: 406px;
        min-height: 29px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: var(--color-black);
        margin-bottom: 8px;
    }
    /*work*/

    .main__container__work__text,
    .main__container__picture {
        display: none;
    }

    .main__container__work {
        max-width: 1770px;
        min-height: 646px;
        flex-direction: column;
    }

    .main__container__work__box {
        max-width: 900px;
    }

    .main__how {
        max-width: 1770px;
        min-height: 646px;
    }

    .main__work__subtitle {
        margin: 0;
        max-width: 430px;
        height: 59px;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 59px;
        color: var(--color-black);
        margin-bottom: 50px;
    }

    .main__work__list {
        max-width: 460px;
        height: 22px;
        justify-content: space-between;
        margin-bottom: 45px;
    }

    .main__work__item {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: var(--color-black);
    }

    .main__work__link {
        transition: color .3s linear;
    }

    .main__work__link:hover {
        color: var(--color-yellow);
    }

    .main__work__link:focus {
        outline: 2px solid var(--color-yellow);
    }

    .main__work__link:active {
        color: var(--color-orange);
        outline: transparent;
    }

    .main__container__subtitle {
        margin: 0;
        max-width: 412px;
        min-height: 32px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: var(--color-black);
        margin-bottom: 8px;
    }

    .main__work__text {
        margin: 0;
        max-width: 758px;
        min-height: 320px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: var(--color-black);
    }

    .main__container__work__text--active {
        display: block;
        margin-bottom: 50px;
        margin-right: 142px;
    }

    .main__work__btn__left {
        padding: 19px 38px;
        width: 175px;
        height: 60px;
        background-color: var(--color-yellow);
        margin-right: 32px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: var(--color-white);
        transition: .3s linear;
    }

    .main__work__btn__left:hover {
        background: #f7b045;
    }

    .main__work__btn__left:focus {
        background: #f7b045;
        outline: none;
    }

    .main__work__btn__left:active {
        background: var(--color-orange);
        border: var(--color-orange);
    }

    .main__work__btn__right {
        padding: 19px 38px;
        width: 147px;
        height: 60px;
        border: 1px solid var(--color-black);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: var(--color-black);
        transition: .3s linear;
    }

    .main__work__btn__right:hover {
        background: var(--color-graphite);
        border: var(--color-graphite);
        color: var(--color-white);
    }

    .main__work__btn__right:focus {
        background: var(--color-graphite);
        border: var(--color-graphite);
        color: var(--color-white);
        outline: none;
    }

    .main__work__btn__right:active {
        background: #000000;
        border: #000000;
        color: var(--color-white);
    }

    .main__container__picture--active {
        display: flex;
        max-width: 870px;
    }

    .main__container__picture--active img {
        max-width: 100%;
        object-fit: cover;
    }
    /*faq*/

    .main__faq {
        max-width: 1770px;
        min-height: 658px
    }

    .main__faq__subtitle {
        margin: 0;
        max-width: 693px;
        min-height: 70px;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 59px;
        margin-bottom: 32px;
    }

    .main__questions__link {
        max-width: 1770px;
        min-height: 112px;
        border-bottom: 1px solid var(--color-gray);
        border-top: 1px solid var(--color-gray);
        outline: none;
        cursor: pointer;
    }

    .main__questions__item {
        position: relative;
        padding: 39px 0;
        border-bottom: 1px solid var(--color-gray);
        border-top: 1px solid var(--color-gray);
        padding-right: 75px;
    }

    .main__questions__item:last-child {
        border-bottom: 1px solid var(--color-gray);
    }

    .main__questions__item:first-child {
        border-color: var(--color-gray);
    }

    .main__questions__item:hover {
        border-color: var(--color-yellow);
    }

    .main__questions__item:hover .main__questions__preview {
        color: var(--color-yellow);
    }

    .main__questions__item:hover svg ellipse {
        fill: var(--color-yellow);
    }

    .main__questions__item:hover svg path {
        fill: var(--color-white);
    }

    .main__questions__link:focus li {
        border-color: var(--color-yellow);
    }

    .main__questions__link:focus .main__questions__preview {
        color: var(--color-yellow);
    }

    .main__questions__link:focus svg ellipse {
        fill: var(--color-yellow);
    }

    .main__questions__link:focus svg path {
        fill: var(--color-white);
    }

    .main__questions__link:active li {
        border-color: var(--color-gray);
    }

    .main__questions__open:active svg {
        transform: rotate(45deg);
    }

    .main__questions__link:active li svg ellipse {
        fill: #ececec;
    }

    .main__questions__link:active li svg path {
        fill: var(--color-graphite);
    }

    .main__questions__link:active .main__questions__preview {
        color: var(--color-black);
    }

    .main__questions__item svg ellipse {
        transition: fill .3s;
    }

    .main__questions__item svg path {
        transition: fill .3s;
    }

    .main__questions__item svg {
        position: absolute;
        right: 0;
        top: 50px;
        margin-top: -25px;
    }

    .main__questions__preview {
        display: inline;
        margin: 0;
        height: 32px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: var(--color-black);
        transition: color .3s;
    }

    .main__questions__preview span {
        color: var(--color-gray);
    }

    */
    /*footer*/

    .footer {
        margin: 0 auto;
        background-color: #222222;
    }

    .footer__container {
        max-width: 1920px;
        background-color: #222222;
        min-height: 594px;
        padding: 50px 75px;
        align-items: center;
        margin: 0 auto;
    }

    .footer__container__left {
        max-width: 252px;
        margin-right: auto;
    }

    .footer__icon__socials__item path {
        transition: .3s ease;
    }

    .footer__icon__socials__item:hover path {
        fill: var(--color-yellow);
    }

    .footer__icon__socials__link:focus {
        outline: 2px solid var(--color-yellow);
    }

    .footer__icon__socials__item:active path {
        fill: var(--color-orange);
    }

    .footer__container__center {
        max-width: 570px;
        margin-right: auto;
    }

    .footer__container__right {
        max-width: 363px;
        height: 320px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: var(--color-gray);
    }

    .footer__nav__list {
        flex-direction: column;
    }

    .footer__icon__socials__list {
        max-width: 230px;
        height: 60px;
        align-items: center;
        justify-content: space-between;
    }

    .footer__nav__item {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 36px;
        color: var(--color-gray);
    }

    .footer__logo__link img {
        margin-bottom: 18.1px;
    }

    .footer__nav__link {
        transition: .3s ease;
    }

    .footer__nav__link:hover {
        color: var(--color-yellow);
    }

    .footer__nav__link:focus {
        outline: 2px solid var(--color-yellow);
    }

    .footer__nav__link:active {
        color: var(--color-orange);
        outline: transparent;
    }

    .footer__nav {
        margin-bottom: 90px;
    }

    .footer__center__subtitle {
        margin: 0;
        max-width: 408px;
        min-height: 59px;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 59px;
        color: var(--color-gray);
        margin-bottom: 25px;
    }

    .footer__center__form {
        max-width: 570px;
        min-height: 320px;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 32px;
    }

    .footer__name {
        max-width: 570px;
        min-height: 60px;
        background-color: #414141;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: var(--color-gray);
        border: none;
        padding-left: 24px;
        transition: .3s linear;
    }

    .footer__name:hover {
        background: var(--color-graphite);
    }

    .footer__name:focus {
        background: var(--color-graphite);
        outline: transparent;
    }

    .footer__name:active {
        background: var(--color-graphite);
    }

    .footer__email {
        max-width: 570px;
        min-height: 60px;
        background-color: #414141;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: var(--color-gray);
        border: none;
        padding-left: 24px;
        transition: .3s linear;
    }

    .footer__email:hover {
        background: var(--color-graphite);
    }

    .footer__email:focus {
        background: var(--color-graphite);
        outline: transparent;
    }

    .footer__email:active {
        background: var(--color-graphite);
    }

    .footer__massage {
        max-width: 570px;
        min-height: 150px;
        background-color: #414141;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: var(--color-gray);
        border: none;
        padding-left: 24px;
        padding-top: 14px;
        transition: .3s linear;
    }

    .footer__massage:hover {
        background: var(--color-graphite);
    }

    .footer__massage:focus {
        background: var(--color-graphite);
        outline: transparent;
    }

    .footer__massage:active {
        background: var(--color-graphite);
    }

    .footer__center__box {
        max-width: 570px;
        min-height: 58px;
        align-items: center;
    }

    .footer__center__btn {
        max-width: 269px;
        height: 58px;
        padding: 19px 38px;
        background-color: var(--color-yellow);
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: var(--color-white);
        margin-right: 22px;
        transition: .3s linear;
    }

    .footer__center__btn:hover {
        background: #f7b045;
    }

    .footer__center__btn:focus {
        background: #f7b045;
        outline: none;
    }

    .footer__center__btn:active {
        background: var(--color-orange);
        border: var(--color-orange);
    }

    .footer__center__text {
        margin: 0;
        max-width: 261px;
        height: 32px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: var(--color-gray);
    }

    .footer__center__check {
        width: 14px;
        height: 14px;
        margin-right: 4px;
    }

    @media (max-width:1920px) {
        .main {
            margin: 0 75px;
        }
        .main__desc {
            margin-bottom: 60px;
        }
    }

    @media (max-width:1024px) {
        .header {
            max-width: 1024px;
            height: 100px;
            padding: 0;
        }
        .header__logo__link {
            width: 150px;
            height: 48px;
        }
        .header__menu-burger {
            margin-left: 50px;
        }
        .header__container {
            display: flex;
            justify-content: space-between;
            max-width: 1024px;
        }
        .header__nav {
            width: 24px;
            margin-right: 50px;
            z-index: 550;
        }
        .header__nav__list {
            position: absolute;
            left: 8px;
            top: 0;
            max-width: 420px;
            min-height: 768px;
            z-index: 500;
            padding: 162px 106px 217px 50px;
            box-shadow: 0 0 5px #888;
            background-color: var(--color-white);
            align-items: flex-start;
            overflow-y: auto;
            visibility: hidden;
            transform: translateX(-120%);
            transition: visibility .3s ease-in-out, transform .3s ease-in-out;
        }
        .header__nav .header__nav__list {
            flex-direction: column;
        }
        .header__icon__link {
            width: 24px;
            margin-right: 50px;
        }
        .header__nav__link {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
        }
        .header__menu-burger {
            position: relative;
            width: 30px;
            height: 23px;
            display: block;
            order: -1;
            z-index: 600;
        }
        .header__nav__list--active {
            visibility: visible;
            transform: none;
        }
        .header__menu-burger span,
        .header__menu-burger::after,
        .header__menu-burger::before {
            height: 3px;
            width: 100%;
            position: absolute;
            background: var(--color-black);
            margin: 0 auto;
        }
        .burger--active .burger__line {
            opacity: 0;
        }
        .burger--active.header__menu-burger::after {
            bottom: auto;
            left: 25%;
            top: 50%;
            transform: rotate(45deg);
            transform-origin: center;
            transition: transform .3s ease-in-out, top .3s ease-in-out, left .3s ease-in-out;
        }
        .burger--active.header__menu-burger::before {
            bottom: auto;
            left: 25%;
            top: 50%;
            transform: rotate(-45deg);
            transform-origin: center;
            transition: transform .3s ease-in-out, top .3s ease-in-out, left .3s ease-in-out;
        }
        .stop-scroll {
            overflow: hidden;
        }
        .header__menu-burger span {
            display: inline;
            top: 10px;
        }
        .header__menu-burger::after,
        .header__menu-burger::before {
            content: '';
        }
        .header__menu-burger::after {
            bottom: 3px;
        }
        .header__menu-burger::before {
            top: 3px;
        }
        .main {
            margin: 0 50px;
            max-width: 924px;
        }
        .main__hero {
            max-width: 924px;
            padding: 160px 77px;
            margin-bottom: 80px;
        }
        .main__container__subject {
            max-width: 770px;
        }
        .main__title {
            font-size: 60px;
            line-height: 73px;
            margin-bottom: 16px;
            min-width: 588px;
        }
        .main__desc {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 40px;
            min-width: 588px;
        }
        .main__about {
            margin-bottom: 80px;
        }
        .main__text {
            max-width: 924px;
            min-height: 263px;
        }
        .main__container__about {
            flex-direction: column;
        }
        .main__container__box {
            max-width: 924px;
            margin-bottom: 32px;
        }
        .main__container__aside {
            max-width: 924px;
        }
        .main__container__box::after {
            max-width: 924px;
            left: 0;
        }
        .main__how {
            margin-bottom: 80px;
        }
        .main__container__work {
            width: 100%;
            object-fit: cover;
        }
        .main__container__text {
            min-height: 337px;
            margin-bottom: 50px;
        }
        .main__container__how__text {
            min-height: 761px;
            max-width: 924px;
            align-items: stretch;
        }
        .main__container__work__box {
            width: 100%;
            min-height: 701px;
            object-fit: cover;
        }
        .main__container__work__text {
            width: 100%;
            min-height: 689px;
            margin-bottom: 0;
            object-fit: cover;
        }
        .main__container__picture {
            float: right;
            overflow: hidden;
            position: relative;
            width: 100%;
            object-fit: cover;
        }
        .main__container__picture img {
            position: absolute;
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
        .main__work__text {
            width: 100%;
        }
        .main__faq {
            max-width: 924px;
            margin-bottom: 80px;
        }
        .main__questions__preview {
            font-size: 20px;
            max-width: 756px;
        }
        .footer {
            max-width: 1024px;
        }
        .footer__container {
            max-width: 1024px;
            padding: 50px 0 50px 49px;
        }
        .footer__container__left {
            max-width: 251px;
            margin-right: 130px;
        }
        .footer__container__center {
            max-width: 570px;
            margin-right: 21px;
        }
        .footer__container__right {
            display: none;
        }
        .footer__center__form,
        .footer__center__box {
            max-width: 570px;
        }
        .footer__center__btn {
            max-width: 240px;
        }
    }

    @media (max-width:768px) {
        .header {
            max-width: 768px;
            height: 69px;
            padding: 0;
        }
        .header__container {
            max-width: 768px;
            height: 69px;
        }
        .header__logo__link {
            width: 150px;
            height: 48px;
        }
        .header__menu-burger {
            margin-left: 15px;
        }
        .header__nav {
            margin-right: 15px;
            justify-content: flex-start;
        }
        .main {
            max-width: 768px;
            margin: 0 15px;
        }
        .main__hero {
            padding: 160px 40px;
        }
        .main__container__subject {
            min-width: 247px;
        }
        .main__title {
            font-size: 50px;
            line-height: 61px;
            min-width: 247px;
        }
        .main__desc {
            font-size: 18px;
            line-height: 22px;
            min-width: 247px;
        }
        .main__text {
            max-width: 768px;
            margin-bottom: 0;
        }
        .main__container__box {
            position: relative;
            max-width: 768px;
            min-height: 650px;
            object-fit: cover;
            width: 100%;
            padding: 488px 40px 34px 40px;
        }
        .main__container__text {
            min-height: 463px;
        }
        .main__container__aside {
            max-width: 768px;
            min-height: 794px;
        }
        .main__aside {
            min-height: 388px;
        }
        .main__container__box::after {
            position: absolute;
            left: 0;
            max-width: 768px;
            object-fit: cover;
            width: 100%;
        }
        .main__container__box__text {
            max-width: 366px;
        }
        .main__aside__img {
            max-width: 114px;
            margin-right: 16px;
        }
        .main__container__aside__top,
        .main__container__aside__bottom {
            padding: 68px 0 68px 40px;
        }
        .main__how {
            min-height: 979px;
        }
        .main__container__work {
            max-width: 768px;
            min-height: 919px;
        }
        .main__work__subtitle {
            max-width: 768px;
        }
        .main__work__list {
            max-width: 768px;
            margin-bottom: 50px;
        }
        .main__work__text {
            min-height: 352px;
            max-width: 768px;
        }
        .main__container__picture {
            order: -1;
            max-width: 768px;
            min-height: 284px;
            margin-bottom: 38px;
        }
        .main__container__how__text {
            flex-direction: column;
            min-height: 714px;
        }
        .main__container__work__box {
            max-width: 768px;
            min-height: 487px;
        }
        .main__container__work__text {
            margin-right: 0;
            margin-bottom: 25px;
            min-height: 392px;
            max-width: 768px;
        }
        .main__faq {
            max-width: 768px;
            min-height: 792px;
        }
        .main__faq__subtitle {
            max-width: 768px;
            min-height: 118px;
        }
        .main__questions__preview {
            max-width: 570px;
        }
        .main__questions__item {
            min-height: 124px;
        }
        .footer {
            max-width: 768px;
            min-height: 792px;
        }
        .footer__nav {
            display: none;
        }
        .footer__container__center {
            order: -1;
            margin: 0 0 50px 0;
        }
        .footer__container {
            flex-direction: column;
            align-items: stretch;
            min-height: 792px;
            margin: 0;
        }
        .footer__container__left {
            align-items: stretch;
            margin: 0;
        }
        .footer__logo__link img {
            margin-bottom: 16px;
        }
        .footer__center__form,
        .footer__center__box,
        .footer__name,
        .footer__email,
        .footer__massage {
            max-width: 570px;
            margin-right: 20px;
        }
        .footer__center__btn {
            max-width: 240px;
            margin-right: 25px;
        }
    }

    @media (max-width: 578px) {
        .header {
            max-width: 578px;
            height: 69px;
            padding: 0;
        }
        .header__container {
            max-width: 578px;
            height: 69px;
        }
        .header__menu-burger {
            margin-left: 30px;
        }
        .header__nav__list {
            max-width: 320px;
            min-height: 377px;
            padding: 78px 41px 71px 15px;
            left: 0;
        }
        .header__nav__link {
            font-size: 16px;
            line-height: 20px;
        }
        .main {
            max-width: 578px;
            margin: 0 15px;
        }
        .main__hero {
            padding: 80px 20px;
        }
        .main__container__subject {
            text-align: center;
        }
        .main__title {
            font-size: 22px;
            line-height: 26px;
            min-width: 247px;
        }
        .main__desc {
            font-size: 14px;
            line-height: 17px;
            min-width: 207px;
        }
        .main__container__box {
            flex-direction: column;
            min-width: 375px;
            min-height: 720px;
        }
        .main__container__box::after,
        .main__container__aside {
            min-width: 375px;
        }
        .main__container__box::after {
            bottom: 0;
            min-height: 296px;
        }
        .main__aside {
            padding: 30px 0 30px 40px;
            min-height: 383px;
        }
        .main__aside__img {
            width: 20%;
        }
        .main__aside__box,
        .main__aside__text,
        .main__aside__subtitle__bottom,
        .main__aside__subtitle__top {
            max-width: 350px;
        }
        .main__aside__subtitle__bottom,
        .main__aside__subtitle__top {
            min-height: 58px;
        }
        .main__aside__box,
        .main__aside__text {
            min-height: 160px;
        }
        .main__how {
            min-height: 1110px;
        }
        .main__container__work__text {
            min-height: 670px;
        }
        .main__container__work,
        .main__work__list {
            min-width: 321px;
        }
        .main__work__subtitle,
        .main__faq {
            max-width: 578px;
        }
        .main__how {
            min-height: 1260px;
        }
        .main__container__picture img {
            width: 100%;
        }
        .main__container__picture {
            min-width: 375px;
            width: auto;
        }
        .footer,
        .footer__container {
            max-width: 578px;
            min-height: 892px;
        }
        .footer__center__box {
            flex-wrap: wrap;
        }
        .main__faq__subtitle {
            max-width: 578px;
            min-height: 138px;
        }
    }

    @media (max-width: 320px) {
        .header {
            max-width: 320px;
            height: 69px;
            padding: 0;
        }
        .header__container {
            max-width: 320px;
            height: 69px;
        }
        .header__logo__link {
            width: 110px;
            height: 35px;
        }
        .header__menu-burger {
            width: 30px;
            height: 23px;
            margin-left: 15px;
        }
        .header__nav {
            width: 24px;
            height: 24px;
            margin-right: 15px;
        }
        .header__icon__link {
            margin-right: 0;
        }
        .main {
            max-width: 290px;
            margin: 0 15px;
        }
        .swiper-pagination .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
        }
        .main__hero {
            max-width: 290px;
            min-height: 308px;
            padding: 60px 21px;
            margin-bottom: 60px;
        }
        .main__container__subject {
            min-width: 147px;
            text-align: center;
        }
        .main__title {
            font-size: 20px;
            line-height: 24px;
            min-width: 147px;
            margin-bottom: 6px;
        }
        .main__desc {
            font-size: 12px;
            line-height: 15px;
            min-width: 147px;
            margin-bottom: 32px;
        }
        .main__btn {
            max-width: 162px;
            max-height: 40px;
            padding: 5.83px 0;
            font-size: 12px;
            line-height: 15px;
        }
        .main__text {
            max-width: 290px;
            min-height: 678px;
            margin-bottom: 8px;
            font-size: 14px;
            line-height: 28px;
        }
        .main__subtitle {
            font-size: 24px;
            line-height: 29px;
            max-height: 29px;
        }
        .main__container__box {
            min-width: 290px;
            min-height: 300px;
            padding: 0;
            background-image: url(../img/about-picture.png);
            background-size: 100%;
            background-position: top;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 32px;
        }
        .main__container__text {
            min-height: 727px;
            margin-bottom: 8px;
        }
        .main__container__about .main__container__box:nth-child(1) {
            flex: none;
            height: 400px;
        }
        .main__container__aside {
            min-width: 290px;
        }
        .main__container__box::after {
            display: none;
        }
        .main__container__box__text {
            max-width: 290px;
            min-height: 359px;
            display: inline-block;
            color: var(--color-black);
            padding-top: 208px;
            margin-bottom: 8px;
            font-weight: 400;
            font-size: 14px;
            line-height: 28px;
        }
        .main__container__box__btn {
            color: var(--color-yellow);
            max-width: 162px;
            max-height: 40px;
            padding: 11px 14px 14px 15px;
            font-size: 12px;
            line-height: 15px;
        }
        .main__about {
            min-height: 1724px;
            margin-bottom: 60px;
        }
        .main__aside {
            padding: 0;
            border: none;
            min-height: 220px;
        }
        .main__aside__img {
            max-width: 64px;
            min-height: 49px;
            margin-right: 0;
            margin-bottom: 12px;
        }
        .main__aside__box {
            max-width: 290px;
            min-height: 180px;
        }
        .main__aside__subtitle__bottom,
        .main__aside__subtitle__top {
            max-width: 290px;
            min-height: 44px;
            margin-bottom: 4px;
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
        }
        .main__aside__text {
            max-width: 290px;
            min-height: 168px;
            font-size: 14px;
            line-height: 28px;
        }
        .main__how {
            min-height: 1115px;
            margin-bottom: 60px;
        }
        .main__container__work {
            min-width: 290px;
        }
        .main__work__subtitle {
            width: 290px;
            max-height: 34px;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 16px;
        }
        .main__work__list {
            justify-content: flex-start;
            min-width: 290px;
            margin-bottom: 16px;
        }
        .main__work__item {
            font-size: 14px;
            line-height: 17px;
            margin-right: 44px;
        }
        .main__work__text {
            min-height: 352px;
        }
        .main__container__picture {
            max-width: 290px;
            min-height: 160px;
            margin-bottom: 16px;
        }
        .main__container__picture img {
            max-width: 290px;
        }
        .main__container__subtitle {
            max-width: 241px;
            max-height: 32px;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
        }
        .main__container__how__text {
            flex-direction: column;
            min-height: 756px;
        }
        .main__container__work__box {
            min-width: 290px;
            min-height: 796px;
        }
        .main__work__text {
            max-width: 290px;
            min-height: 756px;
            font-size: 14px;
            line-height: 28px;
        }
        .main__container__work__text {
            min-width: 290px;
            margin-right: 0;
            margin-bottom: 16px;
            min-height: 756px;
        }
        .main__work__btn__left {
            min-width: 162px;
            min-height: 40px;
            padding: 11px 14px 14px 15px;
            font-size: 12px;
            line-height: 15px;
            margin-right: 10px;
        }
        .main__work__btn__right {
            max-width: 118px;
            min-height: 40px;
            padding: 14px 29px 11px 30px;
            font-size: 12px;
            line-height: 25px;
            text-align: center;
        }
        .main__faq {
            max-width: 290px;
            min-height: 691px;
            margin-bottom: 60px;
        }
        .main__faq__subtitle {
            max-width: 290px;
            min-height: 58px;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 16px;
        }
        .main__questions__preview {
            display: inline-block;
            max-width: 243px;
            max-height: 72px;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
        }
        .main__questions__item {
            min-width: 290px;
            max-height: 132px;
            padding: 30px 0;
        }
        .main__preview__svg {
            width: 30px;
            height: 30px;
        }
        .main__questions__item svg {
            margin-top: -10px;
        }
        .footer {
            max-width: 320px;
            min-height: 673px;
        }
        .footer__container {
            max-width: 320px;
            min-height: 673px;
            padding: 0;
        }
        .footer__logo__link img {
            margin-bottom: 16px;
        }
        .footer__container__center {
            max-width: 320px;
            min-height: 494px;
            padding: 32px 15px 0;
        }
        .footer__center__subtitle {
            display: inline-block;
            max-width: 215px;
            min-height: 26px;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 24px;
        }
        .footer__center__form,
        .footer__center__box,
        .footer__name,
        .footer__email,
        .footer__massage {
            min-width: 290px;
        }
        .footer__form__action {
            max-width: 290px;
        }
        .footer__center__box {
            flex-wrap: wrap;
            align-content: stretch;
            height: 100%;
            justify-content: space-around;
            margin-bottom: 16px;
        }
        .footer__center__btn {
            max-width: 180px;
            min-height: 40px;
            padding: 12px 23px;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            margin-left: 55px;
            margin-right: 55px;
        }
        .footer__form__action {
            border-bottom: 1px solid #595959;
        }
        .footer__container__left {
            max-width: 320px;
            text-align: center;
        }
        .footer__logo__img {
            max-width: 131px;
            min-height: 42px;
        }
        .footer__icon__socials__list {
            min-width: 320px;
            padding-left: 84px;
            padding-right: 84px;
        }
        .footer__icon__socials__list svg {
            max-width: 40px;
            max-height: 40px;
        }
        .footer__icon__socials__item {
            max-width: 40px;
            height: 40px;
        }
        .footer__center__text {
            font-size: 14px;
            width: 240px;
        }
    }

    @media (max-width: 1420px) and (min-width:1025px) {
        .main__aside {
            padding: 5px;
            min-height: 420px;
        }
        .main__container__work__text {
            margin-right: 30px;
        }
        .main__hero {
            padding-right: 653px;
        }
        .header__nav {
            width: 667px;
        }
        .footer__center__text {
            font-size: 12px;
        }
        .footer__center__btn {
            padding: 15px;
            margin-right: 10px;
        }
        .footer__container__right {
            max-width: 275px;
        }
        .footer__container {
            align-items: flex-start;
        }
    }

    @media (max-width:420px) {
        .main__container__box {
            min-width: 290px;
        }
        .main__container__box::after {
            min-width: 290px;
        }
        .main__aside {
            flex-direction: column;
            align-items: center;
            min-width: 290px;
            min-height: 420px;
        }
        .main__container__aside {
            min-width: 290px;
        }
        .main__container__work,
        .main__work__list {
            min-width: 290px;
        }
        .main__work__subtitle {
            max-width: 370px;
            min-height: 120px;
            font-size: 42px;
        }
        .main__container__picture {
            min-width: 280px;
        }
        .main__work__btn__left {
            min-width: 162px;
            min-height: 40px;
            padding: 11px 14px 14px 15px;
            font-size: 12px;
            line-height: 15px;
            margin-right: 10px;
        }
        .main__work__btn__right {
            max-width: 130px;
            min-height: 40px;
            padding: 14px 29px 11px 30px;
            font-size: 12px;
            line-height: 25px;
            text-align: center;
        }
        .footer__center__text {
            margin: 16px 0;
        }
    }
